workflows/AI_ Classify and Summarize Ticket.json
{
  "name": "AI: Classify and Summarize Ticket",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "91818e43-27ab-40a4-b0ac-7eb76fdd497c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw =\n    $json.choices?.[0]?.message?.content ||\n    $json.output?.[0]?.content?.[0]?.text ||\n    $json.text ||\n    \"\";\n  if (!raw) throw new Error(\"No text content found in model output\");\n\n  const text = raw.trim().replace(/```json|```/g, \"\");\n  const result = JSON.parse(text);\n\n  const required = [\"category\", \"is_urgent\", \"complexity_score\", \"summary\"];\n  const missing = required.filter(f => result[f] === undefined);\n  if (missing.length) throw new Error(\"Missing fields: \" + missing.join(\", \"));\n\n  const usage = $json.usage || {};\n  result.prompt_tokens = usage.prompt_tokens ?? null;\n  result.completion_tokens = usage.completion_tokens ?? null;\n  result.total_tokens = usage.total_tokens ?? null;\n  result.model = $json.model || \"unknown\";\n\n  return [{ json: result }];\n\n} catch (err) {\n  throw new Error(\"Invalid or non-JSON AI response: \" + err.message);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        96
      ],
      "id": "9bda978b-dade-4c33-a017-aecf3d113281",
      "name": "Validate Returned Data"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an assistant that classifies incoming support messages.  \nAlways reply with a single compact JSON object.  \nInclude: category (Billing, Technical, General, Feedback, Integration, Other),  \nsummary (≤25 words), complexity_score (0-100), is_urgent (boolean), confidence (0-1).  \nDo not include commentary or formatting."
            },
            {
              "content": "=Subject: {{ $json.body.subject }}\nBody: {{ $json.body.body }}\nReturn ONLY JSON."
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "maxTokens": 150,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        224,
        80
      ],
      "id": "26ed6675-c2f0-4959-81f7-c8a626c499f3",
      "name": "Deduce Complexity",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "DghdlTo00rr9gRSv",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferLast"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1360,
        16
      ],
      "id": "57f9383a-1c52-437c-afbf-ca5ba73ce36f",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38d1addf-b39b-4f17-af63-fe0689ba5378",
              "name": "ai_status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "9bc5d0ae-13e5-42be-990d-6cc42957b753",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "2748ae4a-6334-45ab-b1dc-4e635a2e29f2",
              "name": "model",
              "value": "gpt-4-mini",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        96
      ],
      "id": "39c59be6-2b11-4f5e-ae2f-005c085be621",
      "name": "Add timestamp and success"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an assistant that classifies incoming support messages.  \nAlways reply with a single compact JSON object.  \nInclude: category (Billing, Technical, General, Feedback, Integration, Other),  \nsummary (≤25 words), complexity_score (0-100), is_urgent (boolean), confidence (0-1).  \nDo not include commentary or formatting."
            },
            {
              "content": "=Subject: {{ $json.body.subject }}\nBody: {{ $json.body.body }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 150,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        512,
        240
      ],
      "id": "276d9758-00db-4dc0-a3e1-a67c71d76f47",
      "name": "Backup (Lite Model)",
      "credentials": {
        "openAiApi": {
          "id": "DghdlTo00rr9gRSv",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Deduce Complexity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Returned Data": {
      "main": [
        [
          {
            "node": "Add timestamp and success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduce Complexity": {
      "main": [
        [
          {
            "node": "Validate Returned Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backup (Lite Model)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add timestamp and success": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Backup (Lite Model)": {
      "main": [
        [
          {
            "node": "Validate Returned Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "TBk81utIUYxRkhaI"
  },
  "versionId": "94815598-e959-4c41-9c56-82cccdfb04c0",
  "meta": {
    "instanceId": "770fb38c63bcc2e12acec9f7736933f1584f732a437d461627c5073e98a6bd6f"
  },
  "id": "JIPKS0Jyww4kfE8q",
  "tags": [
    {
      "updatedAt": "2025-11-03T21:50:32.268Z",
      "createdAt": "2025-11-03T21:50:32.268Z",
      "id": "3w2OPMov6D8MLfQ2",
      "name": "ai"
    },
    {
      "updatedAt": "2025-11-03T21:50:30.305Z",
      "createdAt": "2025-11-03T21:50:30.305Z",
      "id": "Qi2m3tZwKJ0DSKtI",
      "name": "subflow"
    }
  ]
}