workflows/Logging_ Add Support Entry.json
{
  "name": "Logging: Add Support Entry",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        288
      ],
      "id": "3974cc0c-4422-4d4f-af45-e6c73082e8d2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const requiredFields = [\n  \"timestamp\",\n  \"body.subject\",\n  \"category\",\n  \"complexity_score\",\n  \"body.from_email\",\n  \"ticket_url\"\n];\n\n// Helper: get nested value by path\nfunction get(obj, path) {\n  return path.split('.').reduce((acc, key) => acc && acc[key], obj);\n}\n\nfor (const field of requiredFields) {\n  const value = get($json, field);\n  if (value === undefined || value === null || value === \"\") {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nreturn [{ json: $json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        288
      ],
      "id": "b18c6a2a-e1dc-4ebf-a53d-eaabd60e8acc",
      "name": "Incoming Data Quality Check"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "support_tickets",
          "mode": "list",
          "cachedResultName": "support_tickets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_urgent": "={{ $json.is_urgent }}",
            "complexity_score": "={{ $json.complexity_score }}",
            "confidence": "={{ $json.confidence }}",
            "from_email": "={{ $json.body.from_email }}",
            "subject": "={{ $json.body.subject }}",
            "category": "={{ $json.category }}",
            "suggested_fix": "={{ $json.suggested_fix }}",
            "ticket_url": "={{ $json.ticket_url }}",
            "ai_summary": "={{ JSON.stringify($json) }}",
            "created_at": "={{ $json.timestamp }}",
            "received_at": "={{ $json.timestamp }}",
            "notification_status": "={{ $json.notification_status }}",
            "email_status": "{{ $json.email_status }}",
            "slack_status": "{{ $json.slack_status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_email",
              "displayName": "from_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "complexity_score",
              "displayName": "complexity_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_urgent",
              "displayName": "is_urgent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "suggested_fix",
              "displayName": "suggested_fix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket_url",
              "displayName": "ticket_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_status",
              "displayName": "notification_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "slack_status",
              "displayName": "slack_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        288
      ],
      "id": "b6326134-e659-4a72-8dac-259d24f8b20f",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "7S8EfVnGnVXDYVJo",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b2c96f8-790a-481e-8422-6697e915e415",
              "name": "log_status",
              "value": "={{ $json.error ? \"failed\" : \"Postgres Successfully Updated\" }}",
              "type": "string"
            },
            {
              "id": "f2c7b863-c9da-4859-9f69-ee301cd808ac",
              "name": "log_error",
              "value": "={{ $json.error?.message || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        192
      ],
      "id": "6cdd0149-55e5-4c99-9614-689c09ff1575",
      "name": "Set Postgres Result"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Incoming Data Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming Data Quality Check": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Set Postgres Result",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "81ef86f9-af32-401c-8656-d1ab20fb9188",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "770fb38c63bcc2e12acec9f7736933f1584f732a437d461627c5073e98a6bd6f"
  },
  "id": "NrYVXVU5z2Qsh3W6",
  "tags": []
}