workflows/Smart Support Triage.json
{
  "name": "Smart Support Triage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/support-intake",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        864,
        32
      ],
      "id": "be9c3cec-e694-44cc-8676-00cf435f7d75",
      "name": "Webhook",
      "webhookId": "52e3ad83-7b2e-48e9-bc3e-e37bc2996bdb"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10001",
          "mode": "list",
          "cachedResultName": "Support Triage"
        },
        "issueType": {
          "__rl": true,
          "value": "10008",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "={{ $json.summary }}",
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "value": "712020:b795cf72-96a6-43fc-8dfa-0ad83580d19e",
            "mode": "list",
            "cachedResultName": "Jonathan Barnette"
          },
          "description": "=*From:* {{$json.body.from_email || $json.from_email || \"unknown\"}}\n\n*Category:* {{$json.category || \"Uncategorized\"}}\n*Complexity:* {{$json.complexity_score || \"n/a\"}}\n*Urgent:* {{$json.is_urgent ? \"Yes\" : \"No\"}}\n\n*Subject:* {{$json.body.subject || $json.subject || \"No subject\"}}\n\n*Message:*\n{{$json.body.body || $json.bodyText || \"No message text\"}}\n\n*Received:* {{$json.received_at || new Date().toISOString()}}\n`",
          "priority": {
            "__rl": true,
            "value": "={{ $json.is_urgent ? \"4\" : \"3\" }}",
            "mode": ""
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1648,
        32
      ],
      "id": "6963b9f8-47b0-413b-b952-4eafd3a3f354",
      "name": "Create A Bug",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "t3ugEGmymsenbQSp",
          "name": "Jira SW Cloud account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2000,
        -80
      ],
      "id": "39508cb4-9ff7-480a-8fb5-7d3a7bb48f00",
      "name": "Refresh JSON Data"
    },
    {
      "parameters": {
        "content": "\"Create A Bug\" clears all previous data like urgency, merge needed to fetch it back",
        "height": 96,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        -224
      ],
      "typeVersion": 1,
      "id": "c7f93948-db69-4446-afa7-4ef257882085",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "298ea938-29b5-4be7-aad1-7d323e44f590",
              "leftValue": "={{ $json.is_complicated }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "a7a887af-39a6-4f03-8b10-036d8982ffee",
              "leftValue": "={{ $json.is_urgent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        32
      ],
      "id": "4b9ecf91-b8f8-4d9f-9d01-baf744c3a6cc",
      "name": "If Bug Is Complex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c082ebe-18b0-433b-be39-7dc1269121a6",
              "name": "=ticket_url",
              "value": "={{ \"https://jonathanbarnette.atlassian.net/browse/\" + $json.key }}",
              "type": "string"
            },
            {
              "id": "5b4f5bac-2e39-4419-bf61-9bb9a921900f",
              "name": "ticket_note",
              "value": "Bug created",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        32
      ],
      "id": "8ccb523e-e0ea-4284-b570-4716a19be652",
      "name": "Set ticket_url"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "932da4bb-e312-45b3-af78-f7d4afe620d3",
              "name": "ticket_url",
              "value": "No ticket created",
              "type": "string"
            },
            {
              "id": "e6b82b9b-3684-4979-bf18-0a5dcd8ae7f9",
              "name": "ticket_note",
              "value": "Low complexity message",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        240
      ],
      "id": "4c2d9daa-432a-48cc-9958-6c6085a7561e",
      "name": "Set ticket_url1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cD4wvwgvpnTeeFYg",
          "mode": "list",
          "cachedResultUrl": "/workflow/cD4wvwgvpnTeeFYg",
          "cachedResultName": "Notifications Subflow: Send Email + Slack"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2224,
        -32
      ],
      "id": "0221e4fe-0a0a-4ef3-92d1-5bb461e7621a",
      "name": "Notifications Subflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NrYVXVU5z2Qsh3W6",
          "mode": "list",
          "cachedResultUrl": "/workflow/NrYVXVU5z2Qsh3W6",
          "cachedResultName": "Logging Subflow: Log Support Entry"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2224,
        224
      ],
      "id": "6ba84b8f-59d8-445e-8d84-a87a3dc38c02",
      "name": "Logging Subflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wX68YIqO7hrm7tB9",
          "mode": "list",
          "cachedResultUrl": "/workflow/wX68YIqO7hrm7tB9",
          "cachedResultName": "AI: Classify and Summarize Ticket"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1072,
        32
      ],
      "id": "df0913a1-ea75-4c1e-b237-a53f8b65e8fd",
      "name": "Call 'AI: Classify and Summarize Ticket'"
    }
  ],
  "pinData": {
    "Call 'AI: Classify and Summarize Ticket'": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "165"
          },
          "params": {},
          "query": {},
          "body": {
            "from_email": "jane@example.com",
            "subject": "URGENT: customers cannot log in",
            "body": "Website login is down for all users. Need immediate help."
          },
          "webhookUrl": "http://localhost:5678/webhook-test/support-intake",
          "executionMode": "test",
          "category": "Technical",
          "summary": "Website login is down for all users, immediate help needed.",
          "complexity_score": 80,
          "is_urgent": true,
          "confidence": 0.95,
          "prompt_tokens": null,
          "completion_tokens": null,
          "total_tokens": 150,
          "model": "gpt-4-mini",
          "ai_status": "success",
          "timestamp": "2025-11-03T21:44:20.958Z"
        },
        "binary": {}
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'AI: Classify and Summarize Ticket'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create A Bug": {
      "main": [
        [
          {
            "node": "Set ticket_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh JSON Data": {
      "main": [
        [
          {
            "node": "Notifications Subflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Logging Subflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Bug Is Complex": {
      "main": [
        [
          {
            "node": "Create A Bug",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh JSON Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set ticket_url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ticket_url": {
      "main": [
        [
          {
            "node": "Refresh JSON Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set ticket_url1": {
      "main": [
        [
          {
            "node": "Notifications Subflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Logging Subflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AI: Classify and Summarize Ticket'": {
      "main": [
        [
          {
            "node": "If Bug Is Complex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "TBk81utIUYxRkhaI"
  },
  "versionId": "ea72ab02-9e42-4313-8518-b7b3e02c844c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "770fb38c63bcc2e12acec9f7736933f1584f732a437d461627c5073e98a6bd6f"
  },
  "id": "DZIo9vM7pkQWQ9jU",
  "tags": [
    {
      "name": "main",
      "id": "DMomVQ5hMUCdvmSX",
      "updatedAt": "2025-11-03T21:51:21.430Z",
      "createdAt": "2025-11-03T21:51:21.430Z"
    }
  ]
}