workflows/Smart Support Triage.json
{
  "name": "Smart Support Triage",
  "nodes": [
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10001",
          "mode": "list",
          "cachedResultName": "Support Triage"
        },
        "issueType": {
          "__rl": true,
          "value": "10008",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "={{ $json.summary }}",
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "value": "712020:b795cf72-96a6-43fc-8dfa-0ad83580d19e",
            "mode": "list",
            "cachedResultName": "Jonathan Barnette"
          },
          "description": "=*From:* {{$json.body.from_email || $json.from_email || \"unknown\"}}\n\n*Category:* {{$json.category || \"Uncategorized\"}}\n*Complexity:* {{$json.complexity_score || \"n/a\"}}\n*Urgent:* {{$json.is_urgent ? \"Yes\" : \"No\"}}\n\n*Subject:* {{$json.body.subject || $json.subject || \"No subject\"}}\n\n*Message:*\n{{$json.body.body || $json.bodyText || \"No message text\"}}\n\n*AI Suggested Fix:* \n{{ $json.suggested_fix }}\n\n*Related Knowledge Docs:* {{ $json.related_docs }}\n\n*Received:* {{$json.received_at || new Date().toISOString()}}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1696,
        -32
      ],
      "id": "6963b9f8-47b0-413b-b952-4eafd3a3f354",
      "name": "Create A Bug",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "t3ugEGmymsenbQSp",
          "name": "Jira SW Cloud account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2144,
        -96
      ],
      "id": "39508cb4-9ff7-480a-8fb5-7d3a7bb48f00",
      "name": "Refresh JSON Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7a887af-39a6-4f03-8b10-036d8982ffee",
              "leftValue": "={{ $json.is_urgent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "33f09925-734e-4442-8339-7337288c87e3",
              "leftValue": "={{ $json.complexity_score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        -32
      ],
      "id": "4b9ecf91-b8f8-4d9f-9d01-baf744c3a6cc",
      "name": "If Bug Is Complex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c082ebe-18b0-433b-be39-7dc1269121a6",
              "name": "=ticket_url",
              "value": "={{ \"https://jonathanbarnette.atlassian.net/browse/\" + $json.key }}",
              "type": "string"
            },
            {
              "id": "5b4f5bac-2e39-4419-bf61-9bb9a921900f",
              "name": "ticket_note",
              "value": "Bug created",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        -32
      ],
      "id": "8ccb523e-e0ea-4284-b570-4716a19be652",
      "name": "Set ticket_url"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cD4wvwgvpnTeeFYg",
          "mode": "list",
          "cachedResultUrl": "/workflow/cD4wvwgvpnTeeFYg",
          "cachedResultName": "Notifications: Send Email + Slack"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2368,
        96
      ],
      "id": "0221e4fe-0a0a-4ef3-92d1-5bb461e7621a",
      "name": "Notifications Subflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NrYVXVU5z2Qsh3W6",
          "mode": "list",
          "cachedResultUrl": "/workflow/NrYVXVU5z2Qsh3W6",
          "cachedResultName": "Logging: Add Support Entry"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2816,
        0
      ],
      "id": "6ba84b8f-59d8-445e-8d84-a87a3dc38c02",
      "name": "Logging Subflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "932da4bb-e312-45b3-af78-f7d4afe620d3",
              "name": "ticket_url",
              "value": "No ticket created",
              "type": "string"
            },
            {
              "id": "e6b82b9b-3684-4979-bf18-0a5dcd8ae7f9",
              "name": "ticket_note",
              "value": "Low complexity message",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        144
      ],
      "id": "4c2d9daa-432a-48cc-9958-6c6085a7561e",
      "name": "Set No Ticket Created"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zlyfcskP0w7xveuG",
          "mode": "list",
          "cachedResultUrl": "/workflow/zlyfcskP0w7xveuG",
          "cachedResultName": "Vector Search KB (Pinecone)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1248,
        -32
      ],
      "id": "db188911-81f6-410c-95e7-a41287b0fa95",
      "name": "Call 'Vector Search KB'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/support-intake",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        576,
        -96
      ],
      "id": "be9c3cec-e694-44cc-8676-00cf435f7d75",
      "name": "Webhook",
      "webhookId": "52e3ad83-7b2e-48e9-bc3e-e37bc2996bdb"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          },
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2592,
        0
      ],
      "id": "b8fa2743-11e2-4857-b678-fd1db252c153",
      "name": "Refresh JSON Data1"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "email",
              "value": "={{ $json.body.from_email }}"
            },
            {
              "key": "subject",
              "value": "={{ $json.body.subject }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        800,
        -32
      ],
      "id": "0e85afed-8ed6-49e0-9ed7-571268c790b1",
      "name": "Execution Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        576,
        96
      ],
      "id": "c011df7c-61f4-46af-bf90-3d37816dd767",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JIPKS0Jyww4kfE8q",
          "mode": "list",
          "cachedResultUrl": "/workflow/JIPKS0Jyww4kfE8q",
          "cachedResultName": "AI: Classify and Summarize Ticket"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1024,
        -32
      ],
      "id": "83395699-2253-4fac-8fe1-eef8030735ae",
      "name": "Call 'AI: Classify and Summarize Ticket'"
    }
  ],
  "pinData": {},
  "connections": {
    "Create A Bug": {
      "main": [
        [
          {
            "node": "Set ticket_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh JSON Data": {
      "main": [
        [
          {
            "node": "Notifications Subflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh JSON Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Bug Is Complex": {
      "main": [
        [
          {
            "node": "Create A Bug",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh JSON Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Ticket Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ticket_url": {
      "main": [
        [
          {
            "node": "Refresh JSON Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set No Ticket Created": {
      "main": [
        [
          {
            "node": "Notifications Subflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Vector Search KB'": {
      "main": [
        [
          {
            "node": "If Bug Is Complex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifications Subflow": {
      "main": [
        [
          {
            "node": "Refresh JSON Data1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Refresh JSON Data1": {
      "main": [
        [
          {
            "node": "Logging Subflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Call 'AI: Classify and Summarize Ticket'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AI: Classify and Summarize Ticket'": {
      "main": [
        [
          {
            "node": "Call 'Vector Search KB'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "TBk81utIUYxRkhaI"
  },
  "versionId": "957660d1-6c96-4286-afba-4c82cf6f25e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "770fb38c63bcc2e12acec9f7736933f1584f732a437d461627c5073e98a6bd6f"
  },
  "id": "DZIo9vM7pkQWQ9jU",
  "tags": [
    {
      "updatedAt": "2025-10-31T15:13:18.697Z",
      "createdAt": "2025-10-31T15:13:18.697Z",
      "id": "2yvNh6ZccJtOZWm3",
      "name": "v1"
    }
  ]
}